<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371757693770-nqlfbkmv698btgffkqvm4nc4050bt73m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371757693770-nqlfbkmv698btgffkqvm4nc4050bt73m</string>
	<key>API_KEY</key>
	<string>AIzaSyAIGY9uTPS8NFCt_mLky7bMS0bl9X-z-j4</string>
	<key>GCM_SENDER_ID</key>
	<string>371757693770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infiniteScrollChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-infinite-scroll-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-infinite-scroll-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371757693770:ios:1d2a216531069eb802dfb3</string>
</dict>
</plist>